doctype html
html
    head
        title= "Scoreboard"
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        script(src='/socket.io/socket.io.js')
        script(src='/jquery.min.js')
        script(src='/script.js')
        link(href='/style.css' rel="stylesheet" type="text/css")
    body
        #container
            .first-row
                #away-score.box
                    h4.label= "C.D.Epsilon Sevilla"
                    .number
                        span#away-team-score.score= "0"
                    .clear
                    .timeouts
                        .number
                            span#away-team-timeouts= "4"
                        .label#away-timeouts-label= "TM" 
                    
                #timer.box
                    .inner-box
                        .number#gameclock-min= "8"
                        span= ":"
                        .number#gameclock-sec= "00"

                #home-score.box
                    h4.label= "Visitante"
                    .number
                        span#home-team-score.score= "0"
                    .clear
                    .timeouts
                        .number
                            span#home-team-timeouts= "4"
                        .label#home-timeouts-label= "TM"

            .clear

            .second-row
                #playclock.box
                    .number
                        span#playclock-timer= "20"
                    .label= "Expulsion"
                #down.box
                #quarter.box
                    .number
                        span#quarter-number= "1"
                    .label= "CUARTO"
                .clear
            
                